

<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Quickacc</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
   <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!--// Meta tag Keywords -->
  
  <!-- Custom-Files -->
  <link rel="stylesheet" href="https://dhiraviam.store/services/public/asset/user_dashboard/css/bootstrap.css">
  <!-- Bootstrap-Core-CSS -->
  <link href="https://dhiraviam.store/services/public/asset/user_dashboard/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
  <!-- banner slider -->
  <link rel="stylesheet" href="https://dhiraviam.store/services/public/asset/user_dashboard/css/style.css" type="text/css" media="all" />
  <!-- Style-CSS -->
  <link href="https://dhiraviam.store/services/public/asset/user_dashboard/css/font-awesome.min.css" rel="stylesheet">
  <!-- Font-Awesome-Icons-CSS -->
  <!-- //Custom-Files -->

  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
  <!-- //Web-Fonts -->

   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
   <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <style type="text/css">
    .container
    {
      width: 65% !important;
    }
    <!--18/3/19 -->
	section#why .row .col-lg-4 img {
    height: 200px;
    object-fit: contain;
}
section#why .row .col-lg-4 {    margin-bottom: 45px;
    font-size: 18px;
}
	.pricingdiv {width: 100% !important;}
.pricingdiv ul.theplan {width: 300px !important;padding-bottom: 15px;}
.services-box {
    /* background: transparent !important; */
    border-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
}
section#why .row .col-lg-4 img {
    height: 250px;
    object-fit: contain;
}
.row.import-sec{margin:0;}
@media only screen and (min-width: 320px) and (max-width: 767px){
.container {
    width: 100% !important;
}
.pricingdiv ul.theplan {
    width: 100% !important;border: 1px solid #ccc;
    border-radius: 15px !important;}
	.pricingdiv.row {
   margin: 0 15px;
}
	
	
}
    <!--18/3/19 -->
  </style>
</head>

<body>
    
            

            
        
<!-- main -->
<div id="home">
       

        <!-- second header -->
        <div class="main-top" >
            <div class="container" >
                <div class="header d-md-flex  py-3">
                    <!-- logo -->
                    <div id="logo">
                        <h4>
                            <a href="#">
                                <img src="https://dhiraviam.store/services/public/uploads/face1.jpg" width="50px" height="40px" style="    object-fit: cover;border-radius: 100px;" />
                                <span class="logo-sp">Quick</span> Acc
                            </a>
                        </h4>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls" style="padding-top:14px;">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="#" class="active">Home</a></li>
                                <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="#about_pg">About Us</a></li>
                                <li><a href="#price_pg">Pricing</a></li>
                                
                                <li><a class="mx-lg-4 mx-md-3 my-md-0 my-2" href="#account_pg">Accounts</a></li>
                                <li><a href="https://dhiraviam.store/services/public/userlogin">Generator</a></li>
                                <li> <a class=""></a></li>

                            
                            </ul>
                        </nav>
                    </div>

                         <div id="logo" style="padding-left: 40px;">
                        <h4>
                            <a href="https://dhiraviam.store/services/public/register"><p style="color: white;">Signup</p></a>
                            <a href="https://dhiraviam.store/services/public/userlogin"><p style="color: white;">&nbsp;|  Signin</p></a>
                        </h4>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </div>
        <!-- //second header -->

       

        <!-- //second header -->

        <!-- banner -->
        <div class="banner_w3lspvt" >
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <ul class="banner_slide_bg">
                    <li class="banner-top1">
                        <div class="container">
                            <div class="banner-info_agile_w3ls text-center mx-auto">
                                <h3 class="text-wh font-weight-bold">Quickacc</h3>
                                <h6 class="text-wh font-weight-light">Everything you need will be found here</h6>
                                <a href="#" class="btn button-w3ls mt-5">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="banner-top2">
                        <div class="container">
                            <div class="banner-info_agile_w3ls text-center mx-auto">
                                <h3 class="text-wh font-weight-bold">Quickacc</h3>
                                <h6 class="text-wh font-weight-light">Everything you need will be found here</h6>
                                <a href="#" class="btn button-w3ls mt-5">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="banner-top3">
                        <div class="container">
                            <div class="banner-info_agile_w3ls text-center mx-auto">
                                <h3 class="text-wh font-weight-bold">Quickacc</h3>
                                <h6 class="text-wh font-weight-light">Everything you need will be found here</h6>
                                <a href="#" class="btn button-w3ls mt-5">Read More</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
<!-- //main -->



<!-- services -->
<section class="services" id="about_pg">
    <div class="container py-xl-5 ">
                <div class="title-section mb-md-5 mb-4">
            
            <h3 class="w3ls-title text-uppercase text-bl font-weight-bold">ABOUT OF SERVICE</h3>
            <h6 class="w3ls-title-sub">What do we got to offer?Everything!</h6>
        </div>
        <div class="row" style="padding-bottom: 20px;">

            <div class="col-lg-6" style="padding-bottom: 20px;">

                
                    <!-- <span class="fa fa-ambulance" aria-hidden="true"></span> -->
                    <!-- .Icon ends here -->
                    <div class="service-content  py-5 services-box">
                        <h3>ALL ACCOUNTS IN ONE PLACE</h3>
                        <p class="my-3">
                            30+ service box Netflix ,Spotify ,Uplay ,GOG ,NardVPN ,Minecraft.. ready for you to use.
                        </p>
                        <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/origin.png" width="96px" style="overflow:hidden;height: 75px;" />
                        <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/spotify.png" width="96px" style="overflow:hidden;height: 75px;" />
                        <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/uplay.png" width="96px" style="overflow:hidden;height: 75px;" />
                        <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/netflix.png" width="96px" style="overflow:hidden;height: 75px;" />
                    </div>

                    <!-- .Service-content ends here -->
                
            </div>
            <div class="col-lg-6" style="padding-bottom: 20px;background-image: url(https://dhiraviam.store/services/public/asset/user_dashboard/images/recycle.png);    background-size: 211px 199px;background-position: right;background-repeat: no-repeat;">
                
                    <!-- <span class="fa fa-user-md" aria-hidden="true"></span> -->
                    <!-- .Icon ends here -->
                    <div class="service-content py-5 services-box" style="height: 250px !important;">
                        <h3>ACCOUNTS UPLAY DAILY</h3>
                        <p class="my-3">
                            Our Accounts database is ready to use. Freash account will be update everyday.
                        </p>

                    </div>
                    <!-- .Service-content ends here -->
                
            </div>
            <div class="row import-sec">
            <div class="col-lg-6 "  style="padding-bottom: 20px;background-image: url(https://dhiraviam.store/services/public/asset/user_dashboard/images/chat.png);    background-size: 120px 120px;background-position: center;background-repeat: no-repeat;">
            
                    <!-- <span class="fa fa-hospital-o" aria-hidden="true"></span> -->
                    <!-- .Icon ends here -->
                    <div class="service-content py-5 services-box" style="height: 250px!important;">
                        <h3>24/7 SUPPORT</h3>
                        <p class="my-3">
                            Our Accounts database is ready to use. Freash account will be update everyday.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                
            </div>
            <div class="col-lg-6">
               
                    <!-- <span class="fa fa-medkit" aria-hidden="true"></span> -->
                    <!-- .Icon ends here -->
                    <div class="service-content py-5 services-box" style="height: 250px!important;">
                        <h3>ON-THE-GO</h3>
                        <p class="my-3">
                            you can access our service any where via mobile phone.
                        </p>
                    </div>
                    <!-- .Service-content ends here -->
                
            </div>
        </div></div>
    </div>
</section>
<!-- //services -->

<!-- why -->
<section class="blog_w3ls py-5" id="why">
    <div class="container py-xl-5 ">
        <div class="title-section mb-md-5 mb-4" id="price_pg">
            
            <h3 class="w3ls-title text-uppercase text-bl font-weight-bold">PRICING</h3>
            <h6 class="w3ls-title-sub">Cheap and affortable for all user</h6>
        </div>
        <div class="row">
            <!-- blog grid -->
     <div class="pricingdiv row" >
        <ul class="theplan">
            <li class="title"><b>$10</b><br />One month </li>
            <li class="head" style="background-color: #dc3a3a;">VIP</li>
            <li > <b>15 Daily Accounts</b> </li>
            <li > <b> Daily Updates</b> </li>
            <li > <b> 24*7 Support</b> </li>
            <li > <b> No private generator:access</b> </li>
            <li > <b> No daily private accounts</b> </li>
            <li><a class="pricebutton" href="https://dhiraviam.store/services/public/register" target="_blank" rel="nofollow"><span class="icon-tag"></span> Check Out</a></li>
        </ul>
    <ul class="theplan">
            <li class="title"><b>$15</b><br />One Year </li>
            <li class="head" style="background-color: #1f76d4;">PREMIUM</li>
            <li > <b>60 Daily Accounts</b> </li>
            <li > <b> Daily Updates</b> </li>
            <li > <b> 24*7 Support</b> </li>
            <li > <b> No private generator:access</b> </li>
            <li > <b> 1 daily private accounts</b> </li>
            
            <li><a class="pricebutton2" href="https://dhiraviam.store/services/public/register" target="_blank" rel="nofollow"><span class="icon-tag"></span> Check Out</a></li>
        </ul>
     <ul class="theplan">
            <li class="title"><b>$30</b><br />One month </li>
            <li class="head" style="background-color: #841d9a;">LEGENDRY</li>
            <li > <b>70 Daily Accounts</b> </li>
            <li > <b> Daily Updates</b> </li>
            <li > <b> 24*7 Support</b> </li>
            <li > <b>  private generator:access</b> </li>
            <li > <b> 4 daily private accounts</b> </li>
            <li><a class="pricebutton3" href="https://dhiraviam.store/services/public/register" target="_blank" rel="nofollow"><span class="icon-tag"></span> Check Out</a></li>
        </ul>
</div>


            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //why -->

<!-- for accounts -->
<section class="blog_w3ls " id="why">
    <div class="container py-xl-5 ">
        <div class="title-section mb-md-5 mb-4" id="account_pg">
            
            <h3 class="w3ls-title text-uppercase text-bl font-weight-bold">ACCOUNTS</h3>
            <h6 class="w3ls-title-sub">We offer accounts in many different categories</h6>
        </div>
        <div class="row" align="center">
            
                <div class="col-lg-4" align="center">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/netflix.png" alt="logo" width="50%"  />
                    <br/><b>Netflix</b>
                </div>
                <div class="col-lg-4">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/spotify.png" alt="logo" width="50%"  />
                    <br/><b>Spotify</b>
                </div>
                <div class="col-lg-4">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/minecraft.jpg" alt="logo" width="50%"  />
                    <br/><b>Minecraft</b>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-lg-4" align="center">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/nordvpn-logo.png" alt="logo" width="50%"  />
                    <br/><b>NardVPN</b>
                </div>
                <div class="col-lg-4">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/uplay.png" alt="logo" width="50%"  />
                    <br/><b>Uplay</b>
                </div>
                <div class="col-lg-4">
                    <img src="https://dhiraviam.store/services/public/asset/user_dashboard/images/origin.png" alt="logo" width="50%"  />
                    <br/><b>Origin</b>
                </div>
            </div>


            </div>
        </div>
    </section>

                    
<!-- footer bottom -->
    <!-- copyright -->
    <!-- <div class="copy-w3pvt">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
                    <p>&copy; 2019 Be Clinic. All rights reserved | Design by
                        <a href="http://w3layouts.com/">W3layouts</a>
                    </p>
                </div>
                <div class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2">
                    <ul>
                        <li>
                            <a href="#" class="facebook">
                                <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
                        </li>
                        <li class="mx-3">
                            <a href="#" class="twitter">
                                <span class="fa fa-twitter mr-2"></span>Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="google">
                                <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- //copyright -->
    <!-- //footer bottom -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->


<!-- Right Panel -->


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- for disqus -->
<script id="dsq-count-scr" src="//test-uojahljosi.disqus.com/count.js" async></script>
<!-- disqus -->
<script type="text/javascript">


var ques_arr = [];
var answer_arr=[];
var answer_keys=[];


    
$(document).ready(function(){

    $('.amountdiv').hide();
  $('#amountdiv').empty();



$(document).on( "change", ".premium", function() {
  

        var premium= $(this).val();

         src = "https://dhiraviam.store/services/public/getamount";
         
         // alert(premium);
          $.ajax({
                     url: src,
                     dataType : 'json',
                     type : 'POST',
                     data : { premium:premium},
                     
                     success: function(res) 
                     {

                                            
                        if(res)
                        {
                          $('#amount').empty();
                          $('.amountdiv').fadeIn(2000);
                          $('#amount').val(res.amt);
                          $('#amt').val(res.amt);
                          $('#item_name').val(res.primeum);
                          $('#item_number').val(res.id);
                        }
                        else
                        {
                          
                          
                          $('#amount').empty();
                          $('.amountdiv').hide();
                          
                        }
                      }
                 });

  });



    $(document).on('click', '#add', function(){ 

        // $('#myModal').modal('show');
        // var abc = ['A','B','C','D','E'];
        var labCnt = $('.add_div').length+1;
        // alert(labCnt);
        // <div class="col-xs-2"><b>'+abc[labCnt]+'</b></div><div class="col-xs-6"></div>
        if(labCnt < 4 )
        {
        $("#add_input").append(' <div class="add_div add_div_'+labCnt+'"> <div class="col-xs-2"> <input type="radio"  name="keys_radio" value="'+labCnt+'" /> </div> <div class="col-xs-8">  <input type="text" class="form-control" name="keys[]" placeholder="Option" required /> </div> <div class="col-xs-2"> <img src="'+cancel+'" class="cancel_div" /> </div> <div> &nbsp; </div> </div>'); 
        }
    });
    


    $(document).on('click', '#save', function(){ 

        $('.viewquestion').html('');
        var arr1 = [];
        var arr2 = [];
        

        var ques = $('#ques').val();
        var keys = $("input[name='keys[]']")
              .map(function(){return $(this).val();}).get();
        var answer = $('input[name=keys_radio]:checked').val(); 


             if(ques == '' )
            {
                // alert("Please Enter All Values");
                 document.getElementById('queserror').innerHTML="* Please Enter Question *";
                 document.getElementById('anserror').innerHTML="";
                 document.getElementById('optnerror').innerHTML="";
            }
            else if( $('input[name=keys_radio]:checked').length <= 0 )
            {
                document.getElementById('anserror').innerHTML="* Please Choose correct Answer *";
                 document.getElementById('queserror').innerHTML="";
                 document.getElementById('optnerror').innerHTML="";
            }
            else if(answer =='')
            {
                
                // document.getElementById('optnerror').innerHTML="* Please Enter All Options or Remove it please *";
                document.getElementById('anserror').innerHTML="* Please Choose correct Answer *";
                 document.getElementById('queserror').innerHTML="";
                 document.getElementById('optnerror').innerHTML="";
            }
            else
            {
                var data=[];
                // arr.length = 0; 
                arr1.push(ques);arr2.push(keys);
                
                answer_arr.push(answer);
                // $.each( arr, function( key_arr, arr_val ) {

                    data.push(arr1);
                    data.push(arr2);
                    // data.push(arr3);
                // });

                
                ques_arr.push(data); 
                
                $.each( ques_arr, function( key, ques_val ) {
                        var save_key = key;
                        key=key+1;
                        
                        $(".viewquestion").append('<font size="+2"  class="ans_radio" style="color:tomato;">'+ key+'.'+ques_val[0]+'  <br/>    </font>');   
                        $.each( ques_val[1], function( key_data, value ) {
                            $.each(value ,function(key_last,val_option){
                            // key_data=key_data+1;
                                $(".viewquestion").append(' <input type="radio" class="mark" name="opt_radio_'+save_key+'" value="'+key_last+'"><font size="+2">'+val_option+'  <br/>    </font>'); 
                            });
                        });
                });
                
                $(this).closest('form').find("input[type=text], textarea").val("");
                $('input[name="keys_radio"]').prop('checked', false);
                $("#add_input").html('');

                 
                 var success = "https://dhiraviam.store/services/public/userprofileview";
                 var upcomingid = $('#upcomingid').val();
                $.ajax({
                            url:src,
                            method:'POST',
                            data:{
                                ques:ques,
                                keys:keys,
                                answer:answer,
                                upcomingid:upcomingid
                                
                            },
                           success:function(data){

                               // alert(data);
                               if(data == 1 )
                               {
                                    window.location.href = success;
                               }
                           }
                        });
                    
                }
                
                    

            }); 

            

            $(document).on('click', '.cancel_div', function(){ 
                
                    
                $(this).closest('.add_div').remove();
                    
            });

            

});

</script>


</body>

</html>